.footer{
  background: linear-gradient(to right , rgb(38, 88, 121)0,rgb(16, 60, 78)60%,rgb(16, 60, 78)100%);
  color: white;
  height: 5rem;
  width: 100% !important;
  position: sticky !important;
  z-index: 100;
  align-items: center;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
}