*{
  margin: 0;
}

body {
  /* background:linear-gradient(to right , rgba(38, 88, 121, 0.842)0,rgba(16, 60, 78, 0.747)60%,rgba(16, 60, 78, 0.541)100%); */
  background-color: whitesmoke;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
